<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .value {
        padding: 10px;
        background-color: #8257e6;
        color: #fff;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level {
        display: flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }

    .awnsers {
        width: 350px;
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container">
    <h3>Olá <strong>{{name}}</strong>! Tudo bem?</h3>

    <br />
    <strong>Recebemos uma solicitação em {{date}} para alteração da sua senha!</strong>
    <p>Se for você clique no link abaixo</p>
    <br/>
    {{recoveryLink+'/'+id}}
    <p>Caso não tenha sido aconselhamos que faça login e altere sua senha</p>

    <br/>
    <br />
    <strong>sua opinião é muito importante para nós</strong>
    <h3>Equipe |<strong>Lar doce lar</strong></h3>
</div>