<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

</style>

<div class="container">
    <h3>Olá <strong>{{name}} {{surname}}</strong>! Tudo bem?</h3>

    <br />
    <strong>Recebemos seu cadastro, seja bem vindo à Lar doce lar!</strong>
    <p>Aqui vamos te ajudar a encontrar o seu novo lar</p>
    <br/>
    <p>Caso tenha alguma duvida ou sugestão entre em contato com nosso suporte</p>
    <strong>sua opinião é muito importante para nós</strong>
    <h3>Equipe |<strong>Lar doce lar</strong></h3>
</div>